@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
}

*::selection{
  background-color: rgb(83, 83, 83);
  color: rgb(50, 117, 205);
}
